.image-data {
    background: rgba(211, 211, 211, 0.25);
    /* border-bottom: 1px solid lightgray; */
    border-radius: 3px;
    margin-bottom: 20px;
    padding: 10px 0;
}

.template {
    display: none;
}

.header {
    background: lightgray;
    margin-bottom: 10px;
}

.detail {
    border-right: 3px solid lightgray;
    /* background: rgba(32, 178, 171, 0.116); */
    padding-right: 15px;
}

.detail>img {
    cursor: pointer;
}

.detail .dimension,
.detail .aspect-ratio,
.detail .size {
    font-weight: 700;
    margin-bottom: 0;
}

.detail .dimension>span,
.detail .aspect-ratio>span,
.detail .size>span {
    font-weight: 400;
}

.uploader {}

.uploader .image-btn {}

.preview {
    display: none;
    background: white;
}

.preview img {}